<div class="container-fluid">
    <h1>Course Enrollment Form</h1>
    <form #userForm="ngForm">
        Form:{{userForm.form.valid}}
        <br>
        {{userForm.value|json}}
        <br>
        {{userModel|json}}
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" required #name="ngModel" name="userName" 
            [(ngModel)]="userModel.name" [class.is-invalid]="name.invalid && name.touched">
            <small [class.d-none]="name.valid || name.touched" class="text-danger">Name is required</small>
        </div>
        <div style="border:2px solid indigo;">
            Is name untouched? {{ name.untouched }}<br>
            Is name pristine? {{ name.pristine }}<br>
            Is name valid? {{ name.valid }}
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" required name="email"
            #email="ngModel" pattern="\S+@\S+\.\S+" [(ngModel)]="userModel.email"
            [class.is-invalid]="email.touched && email.invalid">
            <div *ngIf="email.errors && (email.invalid || email.touched)">
                <small class="text-danger" *ngIf="email.errors.required">Email address is required</small>
                <small class="text-danger" *ngIf="email.errors.pattern">Email address format is invalid</small>
            </div>
        </div>
        <div class="form-group">
            <label>phone</label>
            <input type="tel" class="form-control" required name="phone" [(ngModel)]="userModel.phone"
            #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched">
            <div *ngIf="phone.errors &&(phone.touched || phone.invalid)">
                <small class="text-danger" *ngIf="phone.errors.required">phone number is required</small>
                <small class="text-danger" *ngIf="phone.errors.pattern">phone number must be od 10 digits</small>
            </div>
        </div>
        <div class="form-control">
            <select class="custom-select" name="topic" #topic="ngModel"
            [(ngModel)]="userModel.topic"
            (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)"
            [class.is-invalid]="topic.touched && topicHasError">
        <option selected='default' value='default'>I'm Interested</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
    </select>
    <small class="text-danger" [class.d-none]="topic.untouched || topicHasError">Please choose a topic</small>
        </div>
        <div class="mb-3">
            <label>Time Preference</label>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="timePreference" value="morning" 
                [(ngModel)]="userModel.timePreference">
                <label class="form-check-label">Morning((9AM-12PM))</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="timePreference" value="evening" 
                [(ngModel)]="userModel.timePreference">
                <label class="form-check-label">Evening((5PM-8PM))</label>
            </div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userModel.subscribe">
            <label class="form-check-label">
                Send me promotional offers
            </label>
        </div>
        <button class="btn btn-primary" type="submit"
                [disabled]="userForm.form.invalid || topicHasError">Submit form</button>
    </form>
</div>
