<h1>{{name}}</h1>
<h1>{{name|uppercase}}</h1>
<h1>{{name|lowercase}}</h1>
<h1>{{name|slice:4}}</h1>
<h1>{{message|slice: 2:4}}</h1>
<h2>{{ person | json }}</h2>
<h2>{{ 5.678 | number:'1.2-3' }}</h2>
<h2>{{ 5.678 | number:'3.4-5' }}</h2>
<h2>{{ 5.678 | number:'3.1-2' }}</h2>
<h2>{{ .25 | percent }}</h2>
<h2>{{ .25 | currency }}</h2>
<h2>{{ .25 | currency: 'GBP' }}</h2>
<h2>{{ .25 | currency: 'INR' }}</h2>
<!-- PKR: Pakistani rupee format won't work -->
<h2>{{ .25 | currency: 'PKR' }}</h2>
<h2>{{ date }}</h2>
<h2>{{ date | date: 'short' }}</h2>
<h2>{{ date | date: 'shortDate'}}</h2>
<h2>{{ date | date: 'shortTime'}}</h2>

<h2>{{ date | date: 'medium' }}</h2>
<h2>{{ date | date: 'mediumDate'}}</h2>
<h2>{{ date | date: 'mediumTime'}}</h2>

<h2>{{ date | date: 'long' }}</h2>
<h2>{{ date | date: 'longDate'}}</h2>
<h2>{{ date | date: 'longTime'}}</h2>
