<!-- <app-two-way-data-binding></app-two-way-data-binding>-->
<!-- <app-enable-button></app-enable-button>--> 
<!-- <app-click-example></app-click-example>  -->
<!-- <app-stylestask></app-stylestask> -->
<!-- <app-input-event-demo></app-input-event-demo> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-switchexample></app-switchexample> -->
<!-- <app-ifelseexample></app-ifelseexample> -->
<!-- <app-templatereferencevariable></app-templatereferencevariable> -->
<!-- <app-angularpipes></app-angularpipes> -->
<!-- <app-forexample></app-forexample> -->
<!-- <app-employees-report></app-employees-report> -->
<!-- <app-employees-report1></app-employees-report1> -->
<!-- <app-getemployeefromjson></app-getemployeefromjson> -->
<!-- <app-forms-example1></app-forms-example1> -->
<!-- <app-angular-form-example></app-angular-form-example> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<app-user></app-user>
